body {
  font-family: 'Roboto Condensed', sans-serif;
  margin :0;
}

img{
  width: 200px;
  height: 200px;
}

h1 {
  font-size: 18px;
  border-bottom: 1px solid black;
}

a {
  all: unset;
  cursor: pointer;
}

.lesbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  margin: 20px; /* Ajustez la marge selon vos préférences */
}


.color1 {
  background-color: #5dacbd;
}

.color2 {
  background-color: #a7bcb9;
}

.color3 {
  background-color: #e0ebeb;
}

.color4{
  background-color: #cdcdcd;
}

.color5{
  background-color: #f9ecec;
}

.color6{
  background-color: #f0d9da;
}

.box {
  padding: 10px 30px 10px 30px;
  border: 1px solid #c9c9c9;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}


.flip-container { 
  perspective: 1000;
  width: 260px;
  height: 260px;
  margin: 10px 10px;
  display: inline-block;
}

.flipper {
    transform-style: preserve-3d; 
    position: relative;
    transition: 0.6s;
}

.flipperRotate {
  transform: rotateY(180deg);
}

.box-front {
	z-index: 2;
	transform: rotateY(0deg);
  top: 0;
	left: 0;
}

.box-back {
  transform: rotateY(180deg);
  z-index: 1;
  top: 0;
	left: 0;
}


header{
    background-color: #24527a;
    margin :0;
    display: flex;
    justify-self: space-between;
    padding : 5px;
    color: white;
    padding: 0px 40px;
 }

header h1 {

    border: 0;
    vertical-align: middle;
    font-size: 30px;
    font-variant: small-caps

}

/* Séléctionner la langue */

.container{
    margin: auto 0 auto auto;
}

select {
  float: right;
  appearance: none;
  box-shadow: none;
  flex: 1;
  padding: 0 1em;
  background-image: none;
  cursor: pointer;
  background-color: white;
  border-radius: 30px;
  border : 0;
  font-size: 18px;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
  border : 0;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 10em;
  height: 3em;
  overflow: hidden;
  border : 0;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  transition: .25s all ease;
  pointer-events: none;
}

.WelcomDiv {
  margin: 10px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.WelcomText {
  width: auto;
  height: auto;
  
}


.learn_practice{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.learn_practice div {

  height : 60vh;
  width: 44vw;
  display: flex;
  align-items: center;
  flex-direction:column;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px;
}

.learn{
  background-color: rgba(255, 166, 0, 0.642);
  border-radius: 20px;
}

.learn:hover{
  background-color: rgb(255, 166, 0);
}
  
.practice{
  background-color: rgba(87, 182, 87, 0.656);
  border-radius: 20px;
}

.practice:hover{
  background-color: rgb(87, 182, 87);
}

.div_son{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0px;
}

.bouton_son{
  padding : 20px;
  border-radius: 50px;
  border: none;
  background-color: rgb(202, 202, 202);
}

.bouton_son:hover{
  background-color: rgb(170, 170, 170);
}